.navbar {
  margin-top: 20px;
  overflow: hidden;
  background-color: lavender;
  font-family: Arial, sans-serif;
}

.navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
  color: #fff;
}


/* page content styles */
.content {
  padding-top: 60px;
}

.text {
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  font-family: Poppins;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px; /* Add margin-top to move text below navbar */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  padding-top: 80px; /* Change to 80px to move text below navbar */
}
  
  
  