<!doctype html>
<html>
    <head>
        <title>PDF Upload</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_pdf.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="/documents">All Documents</a>
        </div>
        <div class="container">
            <h1 class="text">Upload a PDF</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>
    </body>
</html>
