<!DOCTYPE html>
<html>
<head>
    <title>{{ document.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_pdf.css') }}">
</head>
<body>  
    <!-- Navbar -->
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/documents">All Documents</a>
    </nav>

    <div>
        <h1 class = "text">{{ document.name }}</h1>
        <h2>Sentiment: {{ sentiment }}</h2>
        <a href="{{ url_for('sentiment_def', document_id=document._id) }}">Sentiment Definintion</a>
        <h2>Chat GPT 3 Summary:</h2>
        <p>{{ summary }}</p>
        <form method="get">
            <label for="word">Search for word:</label>
            <input type="text" id="word" name="word">
            <input type="submit" value="Search">
        </form>
        <p>The number of occurrences of {{searched_word}} : {{ word_count }}</p>
    </div>
</body>
</html>


